{% import 'grid_classes.html.twig' as grid %}
{% from 'column_classes.html.twig' import column_classes as column_classes %}

{% include 'head.twig' %}
<body class="{{ body_class }}">
	<a href="#content" class="sr-only skip-link screen-reader-text">{{ __( 'Skip to main content', 'maera' ) }}</a>
	<header>
		{% do action( 'get_header' ) %}
		{% do action( 'maera/header/before', post.ID ) %}
		{% if not theme_mods.navbar_disable %}
			{% set navwrapper = 'nav-wrapper' %}
			<nav class="{{ red|apply_filters('maera/nav/class') }} lighten-1">
				{% block header %}
					<div class="navwrapper">
						<div class="{{ grid.container() }}">
							{% include 'site-logo.twig' %}
							<ul id="nav-mobile" class="right side-nav">
								{% for item in menu.primary.items %}
									<li id="menu-item-{{item.ID}}" class="menu-item menu-item-type-{{item.type}} menu-item-object-{{item.object}} menu-item-{{item.ID}}{% if 'current-menu-item' in item.classes %} active{% endif %}">
										<a href="{{item.link}}">{{ item.title }}</a>
									</li>
								{% endfor %}
							</ul>
							<a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
						</div>
					</div>
				{% endblock %}
			</nav>
		{% endif %}

		<div class="header hero parallax-container">
			<div class="parallax {{ ''|apply_filters('maera_md/header_classes') }}"><img src="{{ header_img }}"></div>
			<div class="{{ grid.container() }}">
				{{ theme_mods.header_content }}
				<div class="{{ grid.row() }}">
					{% if sidebar.header %}
						{{ sidebar.header }}
					{% endif %}
				</div>
			</div>
		</div>
		{% do action( 'maera/header/after', post.ID ) %}
	</header>
