{% from 'container_open.html.twig' import container_open as container_open %}
{% from 'container_close.html.twig' import container_close as container_close %}
{% set navwrapper = 'nav-wrapper' %}
<nav>
	{% block header %}
		<div class="{{ navwrapper|apply_filters('maera/nav/class') }}">
			{{ container_open( 'div' ) }}
				<a href="#" class="brand-logo">{{ bloginfo( 'name' ) }}</a>
				<ul id="nav-mobile" class="right side-nav">
					{% for item in menu.primary.items %}
						<li id="menu-item-{{item.ID}}" class="menu-item menu-item-type-{{item.type}} menu-item-object-{{item.object}} menu-item-{{item.ID}}{% if 'current-menu-item' in item.classes %} active{% endif %}">
							<a href="{{item.link}}">{{ item.title }}</a>
						</li>
					{% endfor %}
				</ul>
			{{ container_close( 'div' ) }}
		</div>
	{% endblock %}
</nav>
