{#<?php#}
<div class="clearfix"></div>
<ul class="pagination" itemprop="pagination">
	{% if pagination.prev %}
		<li>
			<a href="{{ pagination.prev.link }}" class="btn waves-effect waves-light prev {{ pagination.prev.link|length ? '' : 'invisible' }}">
				{{ __('Previous Posts', 'maera_md') }}<i class="mdi-navigation-chevron-left left"></i>
			</a>
		</li>
	{% endif %}
	{% if pagination.next %}
		<li>
			<a href="{{ pagination.next.link }}" class="btn waves-effect waves-light next {{ pagination.next.link|length ? '' : 'invisible' }}">
				{{ __('Next Posts', 'maera_md') }}<i class="mdi-navigation-chevron-right right"></i>
			</a>
		</li>
	{% endif %}
</ul>
<div class="clearfix"></div>
